@import url('/public/css/lib/submit-button.css');
@import url('/public/css/lib/index/body.css');

h1 {
    font-size: 64px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    font-weight: normal;
    color: #fff;
}

h3 {
    font-size: 18px;
    font-weight: normal;
    color: #fff;
}


.navbar {
    width: 100%;
    background-color: rgb(0,0,0,1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    z-index: 999;
}

.navbar .logo {
    padding: 10px;
    margin-top: 5px;
    margin-left: 20px;
    max-width: 120px;
}

.submit-button {
    background-color: #fff;
    color: #000;
    font-weight: normal;
    font-size: 16px;
    padding: 10px 20px;
}

.submit-button:hover {
    background-color: rgb(255,255,255, 0.8);
}

#back-button {
    text-decoration: none;
}

.centered-content {
    width: 70%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 64px;
    color: #000;
    font-weight: bold;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    font-weight: normal;
    color: #000;
}

h3 {
    font-size: 18px;
    font-weight: normal;
    color: #000;
}

.referral-link {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 14px;
    color: #007bff;
    text-decoration: none;
}

.referral-link:hover {
    text-decoration: underline;
}
