@import url('/public/css/lib/submit-button.css');
@import url('/public/css/lib/index/body.css');

h1 {
    font-size: 64px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    font-weight: normal;
    color: #fff;
}

h3 {
    font-size: 18px;
    font-weight: normal;
    color: #fff;
}


.navbar {
    width: 100%;
    background-color: rgb(0,0,0,1);
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    z-index: 999;
}

.navbar .logo {
    padding: 10px;
    margin-top: 5px;
    margin-left: 20px;
    max-width: 120px;
}

.navbar-item {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
}

.centered-content {
    width: 70%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-top: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 64px;
    color: #000;
    font-weight: bold;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    font-weight: normal;
    color: #000;
}

h3 {
    font-size: 18px;
    font-weight: normal;
    color: #000;
}

.referral-link {
    position: relative;
    font-size: 14px;
    color: #007bff;
    text-decoration: none;
}

.referral-link:hover {
    text-decoration: underline;
}

#premium-content-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, auto);
    gap: 20px;
    padding: 20px;
}

.content-item.card {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: box-shadow 0.3s ease-in-out;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content-item.card:hover {
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.content-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

@media screen and (max-width: 1200px) {
    #premium-content-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 768px) {
    #premium-content-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 480px) {
    #premium-content-container {
        grid-template-columns: 1fr;
    }
}

